IO_LOC "clk" V22;
IO_PORT "clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// SDRAM0 40P ...
// SD0.PMOD0:
// BOT: P02 P04 P06 P08
// TOP: P01 P03 P05 P07
// Maps to
// SDRAM0 BOT:  D1 D3 D5 D7
// SDRAM0 TOP:  D0 D2 D4 D6
// PINS BOT: E13 C14 C13 A13
// PINS TOP: E14 C15 B13 A14
IO_LOC "gpio[0]" E14;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[1]" C15;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[2]" B13;
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[3]" A14;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[4]" E13;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[5]" C14;
IO_PORT "gpio[5]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[6]" C13;
IO_PORT "gpio[6]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[7]" A13;
IO_PORT "gpio[7]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD0.PMOD1:
// BOT: P16 P18 P20 P22
// TOP: P15 P17 P19 P21
// Maps to
// SDRAM0 BOT: D10 D8 CLK A11
// SDRAM0 TOP: D11 D9 A12 A9
// PINS BOT: B20 B21 B17 D17
// PINS TOP: A20 A21 B18 C17
IO_LOC "gpio[8]" A20;
IO_PORT "gpio[8]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[9]" A21;
IO_PORT "gpio[9]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[10]" B18;
IO_PORT "gpio[10]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[11]" C17;
IO_PORT "gpio[11]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[12]" B20;
IO_PORT "gpio[12]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[13]" B21;
IO_PORT "gpio[13]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[14]" B17;
IO_PORT "gpio[14]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[15]" D17;
IO_PORT "gpio[15]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD0.PMOD2:
// BOT: P24 P26 P28 P32
// TOP: P23 P25 P27 P31
// Maps to
// SDRAM0 BOT: A8 A6 A4 RAS
// SDRAM0 TOP: A7 A5 WE CAS
// PINS BOT: A18 D14 E16 F16
// PINS TOP: A19 D15 D16 E17
IO_LOC "gpio[16]" A19;
IO_PORT "gpio[16]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[17]" D15;
IO_PORT "gpio[17]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[18]" D16;
IO_PORT "gpio[18]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[19]" E17;
IO_PORT "gpio[19]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[20]" A18;
IO_PORT "gpio[20]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[21]" D14;
IO_PORT "gpio[21]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[22]" E16;
IO_PORT "gpio[22]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[23]" F16;
IO_PORT "gpio[23]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD0.PMOD3:
// BOT: P34 P36 P38 P40
// TOP: P33 P35 P37 P39 
// Maps to
// SDRAM1 BOT: BA0 A10 A1 A3
// SDRAM1 TOP: CS BA1 A0 A2
// PINS BOT: F15 D20 E19 C18
// PINS TOP: F21 C20 D19 C19
IO_LOC "gpio[24]" F21;
IO_PORT "gpio[24]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[25]" C20;
IO_PORT "gpio[25]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[26]" D19;
IO_PORT "gpio[26]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[27]" C19;
IO_PORT "gpio[27]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[28]" F15;
IO_PORT "gpio[28]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[29]" D20;
IO_PORT "gpio[29]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[30]" E19;
IO_PORT "gpio[30]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[31]" C18;
IO_PORT "gpio[31]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// --------------------------------------------------------------------------------------------
// 2nd half
// SDRAM1 40P ...
// SD1.PMOD0:
// BOT: P02 P04 P06 P08
// TOP: P01 P03 P05 P07
// Maps to
// SDRAM1 BOT:  D1 D3 D5 D7
// SDRAM1 TOP:  D0 D2 D4 D6
// PINS BOT: P19 T21 P16 R18
// PINS TOP: R19 U21 R17 T18
IO_LOC "gpio[32]" R19;
IO_PORT "gpio[32]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[33]" U21;
IO_PORT "gpio[33]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[34]" R17;
IO_PORT "gpio[34]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[35]" T18;
IO_PORT "gpio[35]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[36]" P19;
IO_PORT "gpio[36]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[37]" T21;
IO_PORT "gpio[37]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[38]" P16;
IO_PORT "gpio[38]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[39]" R18;
IO_PORT "gpio[39]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD1.PMOD1:
// BOT: P16 P18 P20 P22
// TOP: P15 P17 P19 P21
// Maps to
// SDRAM1 BOT: D10 D8 CLK A11
// SDRAM1 TOP: D11 D9 A12 A9
// PINS BOT: N17 N13 U20 Y21
// PINS TOP: P17 N14 V20 Y22
IO_LOC "gpio[40]" P17;
IO_PORT "gpio[40]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[41]" N14;
IO_PORT "gpio[41]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[42]" V20;
IO_PORT "gpio[42]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[43]" Y22;
IO_PORT "gpio[43]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[44]" N17;
IO_PORT "gpio[44]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[45]" N13;
IO_PORT "gpio[45]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[46]" U20;
IO_PORT "gpio[46]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[47]" Y21;
IO_PORT "gpio[47]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD2.PMOD2:
// BOT: P24 P26 P28 P32
// TOP: P23 P25 P27 P31
// Maps to
// SDRAM1 BOT: A8 A6 A4 RAS
// SDRAM1 TOP: A7 A5 WE CAS
// PINS BOT: AB21 AA20 AA19 Y18
// PINS TOP: AB22 AA21 AB20 Y19
IO_LOC "gpio[48]" AB22;
IO_PORT "gpio[48]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[49]" AA21;
IO_PORT "gpio[49]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[50]" AB20;
IO_PORT "gpio[50]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[51]" Y19;
IO_PORT "gpio[51]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[52]" AB21;
IO_PORT "gpio[52]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[53]" AA20;
IO_PORT "gpio[53]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[54]" AA19;
IO_PORT "gpio[54]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[55]" Y8;
IO_PORT "gpio[55]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;

// SD1.PMOD3:
// BOT: P34 P36 P38 P40
// TOP: P33 P35 P37 P39 
// Maps to
// SDRAM1 BOT: BA0 A10 A1 A3
// SDRAM1 TOP: CS BA1 A0 A2
// PINS BOT: N15 U17 P15 P14
// PINS TOP:T20 U18 R16 R14
IO_LOC "gpio[56]" T20;
IO_PORT "gpio[56]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[57]" U18;
IO_PORT "gpio[57]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[58]" R16;
IO_PORT "gpio[58]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[59]" R14;
IO_PORT "gpio[59]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[60]" N15;
IO_PORT "gpio[60]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[61]" U17;
IO_PORT "gpio[61]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[62]" P15;
IO_PORT "gpio[62]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[63]" P14;
IO_PORT "gpio[63]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;


