(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("nanosram.vcd"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "nanosram_tb",
                "dut",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_idle",
                    id: Wellen((5)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_idle",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_ready",
                    id: Wellen((3)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_dout",
                    id: Wellen((6)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_dout [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "fsm_state",
                    id: Wellen((65)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fsm_state [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_din",
                    id: Wellen((22)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_din [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sck_pin",
                    id: Wellen((10)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "sck_pin",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "init_cnt",
                    id: Wellen((67)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "init_cnt [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((19)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "temp_wire_bits",
                    id: Wellen((78)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "temp_wire_bits [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst_n",
                    id: Wellen((20)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sio_din",
                    id: Wellen((1)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "sio_din [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_start_trans",
                    id: Wellen((23)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_start_trans",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_wr_en",
                    id: Wellen((24)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_wr_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "delay_timer",
                    id: Wellen((63)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "delay_timer [14:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_write_strobe",
                    id: Wellen((2)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_write_strobe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_addr",
                    id: Wellen((21)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_addr [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sio_dout",
                    id: Wellen((9)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "sio_dout [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "temp_cnt",
                    id: Wellen((77)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "temp_cnt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cs_pin",
                    id: Wellen((11)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "cs_pin",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "init_sr",
                    id: Wellen((68)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "init_sr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sio_en",
                    id: Wellen((8)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "sio_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sram_read_strobe",
                    id: Wellen((4)),
                    index: None,
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "sram_read_strobe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "nanosram_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "fsm_tag",
                    id: Wellen((66)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fsm_tag [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 33,
        viewports: [
            (
                curr_left: (0.939867659907037),
                curr_right: (0.941821679590708),
                target_left: (0.9329838605954757),
                target_right: (0.9345836761941051),
                move_start_left: (0.9329838605954757),
                move_start_right: (0.9345836761941051),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            243130000,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((24)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.5),
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
)