
// TOP: VCC GND 19 20 34 35
// BOT: VCC GND 28 31 30 29
IO_LOC "sdr_pin" 19; 
IO_PORT "sdr_pin" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "ddr_pin" 20; 
IO_PORT "ddr_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "clk_pin" 34; 
IO_PORT "clk_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;

// 27MHz XTAL input
IO_LOC "clk" 47; // if you can find this on the PCB you've wasted your life.
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
