IO_LOC "tx_pin" 27;
IO_PORT "tx_pin" DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "rx_pin" 28;
IO_PORT "rx_pin" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "led" 15;
IO_PORT "led" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
