//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Mon 03 23 17:41:30 2026

IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sck" C11;
IO_PORT "sck" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "cs" B11;
IO_PORT "cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sio[3]" G10;
IO_PORT "sio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[2]" D10;
IO_PORT "sio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[1]" B10;
IO_PORT "sio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[0]" C10;
IO_PORT "sio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
