//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Mon 03 23 17:41:30 2026

IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// PMOD1
// VCC GND P02 P04 P06 P08 (top)
// VCC GND P01 P03 P05 P07 (bottom)
// P25K:
// K1 L2 J4 G2
// K2 L1 K4 G1

IO_LOC "sck" K1;
IO_PORT "sck" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "cs" L2;
IO_PORT "cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sio[3]" G1;
IO_PORT "sio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[2]" K4;
IO_PORT "sio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[1]" L1;
IO_PORT "sio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "sio[0]" K2;
IO_PORT "sio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
