LOCATE      COMP "clk"    SITE "P3";
IOBUF       PORT "clk"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk"    25 MHZ;

// this demo uses P2 on the Colorlight-i9 board.  This is located to the right of the DVI next to the ethernet PMODs (P1).

// P2.0 (next to the DVI)
// TOP: 3V3 GND N17 M18 L18 J20
// BOT: 3V3 GND N18 L20 K20 G20

// P2.1 (next to P1)
// TOP: 3V3 GND L2  C18 R18 P17
// BOT: 3V3 GND K18 T18 R17 M17


// R is on the BOT of P2.0 (GND R3 R2 ...)
LOCATE		COMP "vga_r[0]"		SITE "G20";
IOBUF		PORT "vga_r[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[1]"		SITE "K20";
IOBUF		PORT "vga_r[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[2]"		SITE "L20";
IOBUF		PORT "vga_r[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[3]"		SITE "N18";
IOBUF		PORT "vga_r[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// B is on the TOP of P2.0 (GND B3 B2 ...)
LOCATE		COMP "vga_g[0]"		SITE "J20";
IOBUF		PORT "vga_g[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[1]"		SITE "L18";
IOBUF		PORT "vga_g[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[2]"		SITE "M18";
IOBUF		PORT "vga_g[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[3]"		SITE "N17";
IOBUF		PORT "vga_g[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// G is on the BOT of P2.1 (GND G3 G2 ...)
LOCATE		COMP "vga_b[0]"		SITE "M17";
IOBUF		PORT "vga_b[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[1]"		SITE "R17";
IOBUF		PORT "vga_b[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[2]"		SITE "T18";
IOBUF		PORT "vga_b[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[3]"		SITE "K18";
IOBUF		PORT "vga_b[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// pulses on the TOP of P2.1 (GND NC NC VS HS)
LOCATE		COMP "vga_h_pulse"		SITE "P17";
IOBUF		PORT "vga_h_pulse"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_v_pulse"		SITE "R18";
IOBUF		PORT "vga_v_pulse"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
