//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Mon 03 23 17:41:30 2026

IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// UART 
IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// GPIO
IO_LOC "gpio[0]" F5;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[1]" G5;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[2]" G7;
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[3]" G8;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[4]" H8;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[5]" H7;
IO_PORT "gpio[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[6]" H5;
IO_PORT "gpio[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "gpio[7]" J5;
IO_PORT "gpio[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// VGA
IO_LOC "vga_r[0]" G10;
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_r[1]" D10;
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_r[2]" B10;
IO_PORT "vga_r[2]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_r[3]" C10;
IO_PORT "vga_r[3]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "vga_b[0]" G11;
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_b[1]" D11;
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_b[2]" B11;
IO_PORT "vga_b[2]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_b[3]" C11;
IO_PORT "vga_b[3]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "vga_g[0]" A10; // A11
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_g[1]" E10; // E11
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_g[2]" L11;
IO_PORT "vga_g[2]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_g[3]" K5;
IO_PORT "vga_g[3]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "vga_h_pulse" A11; // A10
IO_PORT "vga_h_pulse" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "vga_v_pulse" E11; // E10
IO_PORT "vga_v_pulse" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
