//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Wed 03 25 23:21:58 2026

// gpio[2:0] are the RGB LEDs, gpio[7] is push button A, the rest are the pins directly below the LED pins on the left side of the board
IO_LOC "gpio[7]" 13; // push button
IO_PORT "gpio[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[6]" 18;
IO_PORT "gpio[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[5]" 22;
IO_PORT "gpio[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[4]" 23;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[3]" 24;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[2]" 11; // green
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[1]" 10; // blue
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "gpio[0]" 9; // red
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;

// UART last two pins on the left side
IO_LOC "uart_rx" 27;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart_tx" 28; // this is the corner of the board
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 DRIVE=4 BANK_VCCIO=3.3;

// 27MHz XTAL input
IO_LOC "clk" 47; // if you can find this on the PCB you've wasted your life.
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
