IO_LOC "uart_rx" 40; // MCU_D0
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "uart_tx" 41; // MCU_D1
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;

IO_LOC "led" 15;
IO_PORT "led" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

// U2C
// TOP: VCC GND 28 30 32 35
// BOT: VCC GND 27 29 31 34
IO_LOC "vga_g[1]" 28;
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "vga_g[0]" 30;
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_r[1]" 32;
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_r[0]" 35;
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_v_pulse" 27;
IO_PORT "vga_v_pulse" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_h_pulse" 29;
IO_PORT "vga_h_pulse" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_b[1]" 31;
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_b[0]" 34;
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;


// 27MHz XTAL input
IO_LOC "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
