IO_LOC "uart_rx" 40; // MCU_D0
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "uart_tx" 41; // MCU_D1
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;

// U2B
// TOP: VCC GND 14 17 19 21
// BOT: VCC GND 13 16 18 20
IO_LOC "vga_g[1]" 14;
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "vga_g[0]" 17;
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_r[1]" 19;
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_r[0]" 21;
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_v_pulse" 13;
IO_PORT "vga_v_pulse" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_h_pulse" 16;
IO_PORT "vga_h_pulse" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_b[1]" 18;
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;
IO_LOC "vga_b[0]" 20;
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN  BANK_VCCIO=3.3;


// 27MHz XTAL input
IO_LOC "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
