// TOP: VCC GND 42 11 10 9
// BOT: VCC GND 40 39 38 41
IO_LOC "uart_rx" 41; 
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "uart_tx" 38;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;

// TOP: VCC GND 19 20 34 35
// BOT: VCC GND 28 31 30 29
IO_LOC "vga_g[1]" 19;
IO_PORT "vga_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_g[0]" 20;
IO_PORT "vga_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_r[1]" 34;
IO_PORT "vga_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_r[0]" 35;
IO_PORT "vga_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_v_pulse" 28;
IO_PORT "vga_v_pulse" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_h_pulse" 31;
IO_PORT "vga_h_pulse" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_b[1]" 30;
IO_PORT "vga_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "vga_b[0]" 29;
IO_PORT "vga_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;


// 27MHz XTAL input
IO_LOC "clk" 47; // if you can find this on the PCB you've wasted your life.
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
