LOCATE      COMP "clk"    SITE "P3";
IOBUF       PORT "clk"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk"    25 MHZ;


// attach PORT A addr/data to entire PMODs
// start at P6...
LOCATE      COMP "bus_addr_a[0]" SITE "M1";
IOBUF       PORT "bus_addr_a[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[1]" SITE "W1";
IOBUF       PORT "bus_addr_a[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[2]" SITE "U1";
IOBUF       PORT "bus_addr_a[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[3]" SITE "R1";
IOBUF       PORT "bus_addr_a[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[4]" SITE "N2";
IOBUF       PORT "bus_addr_a[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[5]" SITE "V1";
IOBUF       PORT "bus_addr_a[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[6]" SITE "Y2";
IOBUF       PORT "bus_addr_a[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_a[7]" SITE "T1";
IOBUF       PORT "bus_addr_a[7]" IO_TYPE=LVCMOS33;
// next half of P6
LOCATE      COMP "bus_data_in_a[0]" SITE "J16";
IOBUF       PORT "bus_data_in_a[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[1]" SITE "L5";
IOBUF       PORT "bus_data_in_a[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[2]" SITE "M4";
IOBUF       PORT "bus_data_in_a[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[3]" SITE "R3";
IOBUF       PORT "bus_data_in_a[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[4]" SITE "J18";
IOBUF       PORT "bus_data_in_a[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[5]" SITE "P16";
IOBUF       PORT "bus_data_in_a[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[6]" SITE "L4";
IOBUF       PORT "bus_data_in_a[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_a[7]" SITE "N4";
IOBUF       PORT "bus_data_in_a[7]" IO_TYPE=LVCMOS33;
// P5
LOCATE      COMP "bus_data_out_a[0]" SITE "G16";
IOBUF       PORT "bus_data_out_a[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[1]" SITE "H16";
IOBUF       PORT "bus_data_out_a[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[2]" SITE "H17";
IOBUF       PORT "bus_data_out_a[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[3]" SITE "J17";
IOBUF       PORT "bus_data_out_a[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[4]" SITE "E18";
IOBUF       PORT "bus_data_out_a[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[5]" SITE "F18";
IOBUF       PORT "bus_data_out_a[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[6]" SITE "G18";
IOBUF       PORT "bus_data_out_a[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_a[7]" SITE "H18";
IOBUF       PORT "bus_data_out_a[7]" IO_TYPE=LVCMOS33;

// attach PORT B addr/data to entire PMODs
// other half of P5
LOCATE      COMP "bus_addr_b[0]" SITE "E5";
IOBUF       PORT "bus_addr_b[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[1]" SITE "F5";
IOBUF       PORT "bus_addr_b[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[2]" SITE "G5";
IOBUF       PORT "bus_addr_b[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[3]" SITE "D18";
IOBUF       PORT "bus_addr_b[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[4]" SITE "F4";
IOBUF       PORT "bus_addr_b[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[5]" SITE "E6";
IOBUF       PORT "bus_addr_b[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[6]" SITE "D16";
IOBUF       PORT "bus_addr_b[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_addr_b[7]" SITE "D17";
IOBUF       PORT "bus_addr_b[7]" IO_TYPE=LVCMOS33;
// top of P4
LOCATE      COMP "bus_data_in_b[0]" SITE "E1";
IOBUF       PORT "bus_data_in_b[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[1]" SITE "E4";
IOBUF       PORT "bus_data_in_b[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[2]" SITE "F3";
IOBUF       PORT "bus_data_in_b[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[3]" SITE "H3";
IOBUF       PORT "bus_data_in_b[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[4]" SITE "F2";
IOBUF       PORT "bus_data_in_b[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[5]" SITE "F1";
IOBUF       PORT "bus_data_in_b[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[6]" SITE "G3";
IOBUF       PORT "bus_data_in_b[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_in_b[7]" SITE "H4";
IOBUF       PORT "bus_data_in_b[7]" IO_TYPE=LVCMOS33;
// P3
LOCATE      COMP "bus_data_out_b[0]" SITE "A3";
IOBUF       PORT "bus_data_out_b[0]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[1]" SITE "B1";
IOBUF       PORT "bus_data_out_b[1]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[2]" SITE "D2";
IOBUF       PORT "bus_data_out_b[2]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[3]" SITE "E2";
IOBUF       PORT "bus_data_out_b[3]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[4]" SITE "E3";
IOBUF       PORT "bus_data_out_b[4]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[5]" SITE "C2";
IOBUF       PORT "bus_data_out_b[5]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[6]" SITE "C1";
IOBUF       PORT "bus_data_out_b[6]" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_data_out_b[7]" SITE "D1";
IOBUF       PORT "bus_data_out_b[7]" IO_TYPE=LVCMOS33;

// remaining pins can go to one pmod
// other half of P3
LOCATE      COMP "is_halted" SITE "D20";
IOBUF       PORT "is_halted" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_wr_en_a" SITE "B19";
IOBUF       PORT "bus_wr_en_a" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_valid_a" SITE "A19";
IOBUF       PORT "bus_valid_a" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_ready_a" SITE "A18";
IOBUF       PORT "bus_ready_a" IO_TYPE=LVCMOS33;

LOCATE      COMP "bus_wr_en_b" SITE "F20";
IOBUF       PORT "bus_wr_en_b" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_valid_b" SITE "B20";
IOBUF       PORT "bus_valid_b" IO_TYPE=LVCMOS33;
LOCATE      COMP "bus_ready_b" SITE "B18";
IOBUF       PORT "bus_ready_b" IO_TYPE=LVCMOS33;
LOCATE      COMP "rst_n" SITE "C17";
IOBUF       PORT "rst_n" IO_TYPE=LVCMOS33;
