LOCATE      COMP "clk"    SITE "P3";
IOBUF       PORT "clk"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk"    25 MHZ;

LOCATE      COMP "tx"       SITE "B9";   // iCELink-UART3-RX
IOBUF       PORT "tx"       IO_TYPE=LVCMOS33;

LOCATE      COMP "rx"       SITE "A9";
IOBUF       PORT "rx"       IO_TYPE=LVCMOS33;
