//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Mon 03 23 17:41:30 2026

// PMOD1
// P02 P04 P06 P08 (bottom)
// P01 P03 P05 P07 (top)
// P25K:
// K1 L2 J4 G2
// K2 L1 K4 G1

IO_LOC "gpio[0]" K2;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[1]" K1;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[2]" L1;
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[3]" L2;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[4]" K4;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[5]" J4;
IO_PORT "gpio[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[6]" G1;
IO_PORT "gpio[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[7]" G2;
IO_PORT "gpio[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// PMOD2
// P16 P18 P20 P22 (bottom)
// P15 P17 P19 P21 (top
// P25K:
// F2 E1 E3 J1
// F1 A1 D1 J2

IO_LOC "gpio[8]" F1;
IO_PORT "gpio[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[9]" F2;
IO_PORT "gpio[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[10]" A1;
IO_PORT "gpio[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[11]" E1;
IO_PORT "gpio[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[12]" D1;
IO_PORT "gpio[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[13]" E3;
IO_PORT "gpio[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[14]" J2;
IO_PORT "gpio[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[15]" J1;
IO_PORT "gpio[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


// PMOD3
// P24 P26 P28 P32 (bottom)
// P23 P25 P27 P31 (top)
// P25K:
// G4 H1 K7 L10
// H4 H2 J7 K10

IO_LOC "gpio[16]" H4;
IO_PORT "gpio[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[17]" G4;
IO_PORT "gpio[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[18]" H2;
IO_PORT "gpio[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[19]" H1;
IO_PORT "gpio[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[20]" J7;
IO_PORT "gpio[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[21]" K7;
IO_PORT "gpio[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[22]" K10;
IO_PORT "gpio[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[23]" L10;
IO_PORT "gpio[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


// PMOD4
// P34 P36 P38 P40 (bottom)
// P33 P35 P37 P39 (top)
// P25K:
// L9 J8 F7 J11
// K9 K8 F6 J10

IO_LOC "gpio[24]" K9;
IO_PORT "gpio[24]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[25]" L9;
IO_PORT "gpio[25]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[26]" K8;
IO_PORT "gpio[26]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[27]" J8;
IO_PORT "gpio[27]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[28]" F6;
IO_PORT "gpio[28]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[29]" F7;
IO_PORT "gpio[29]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[30]" J10;
IO_PORT "gpio[30]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio[31]" J11;
IO_PORT "gpio[31]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
