LOCATE      COMP "clk"    SITE "P3";
IOBUF       PORT "clk"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk"    25 MHZ;

LOCATE      COMP "uart_rx"       SITE "H18";   // iCELink-UART3-RX
IOBUF       PORT "uart_rx"       IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE      COMP "uart_tx"       SITE "J17";
IOBUF       PORT "uart_tx"       IO_TYPE=LVCMOS33;


// FROM GND (near the middle of P3) to the edge of the board (corner of P3/P4)
// TOP: 3V3 GND E3 C2 C1 D1
// BOT: 3V3 GND A3 B1 D2 E2
LOCATE      COMP "gpio[0]"       SITE "A3";
IOBUF       PORT "gpio[0]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[1]"       SITE "E3";
IOBUF       PORT "gpio[1]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[2]"       SITE "B1";
IOBUF       PORT "gpio[2]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[3]"       SITE "C2";
IOBUF       PORT "gpio[3]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[4]"       SITE "D2";
IOBUF       PORT "gpio[4]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[5]"       SITE "C1";
IOBUF       PORT "gpio[5]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[6]"       SITE "E2";
IOBUF       PORT "gpio[6]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[7]"       SITE "D1";
IOBUF       PORT "gpio[7]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;

// FROM GND (P3 next to the DVI header)
// TOP: 3V3 GND F20 B20 B18 C17
// BOT: 3V3 GND D20 B19 A19 A18
LOCATE      COMP "gpio[8]"       SITE "D20";
IOBUF       PORT "gpio[8]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[9]"       SITE "F20";
IOBUF       PORT "gpio[9]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[10]"       SITE "B19";
IOBUF       PORT "gpio[10]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[11]"       SITE "B20";
IOBUF       PORT "gpio[11]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[12]"       SITE "A19";
IOBUF       PORT "gpio[12]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[13]"       SITE "B18";
IOBUF       PORT "gpio[13]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[14]"       SITE "A18";
IOBUF       PORT "gpio[14]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;
LOCATE      COMP "gpio[15]"       SITE "C17";
IOBUF       PORT "gpio[15]"       IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=12;

// R is on the BOT of P2.0 (GND R3 R2 ...)
LOCATE		COMP "vga_r[0]"		SITE "G20";
IOBUF		PORT "vga_r[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[1]"		SITE "K20";
IOBUF		PORT "vga_r[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[2]"		SITE "L20";
IOBUF		PORT "vga_r[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[3]"		SITE "N18";
IOBUF		PORT "vga_r[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// B is on the TOP of P2.0 (GND B3 B2 ...)
LOCATE		COMP "vga_g[0]"		SITE "J20";
IOBUF		PORT "vga_g[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[1]"		SITE "L18";
IOBUF		PORT "vga_g[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[2]"		SITE "M18";
IOBUF		PORT "vga_g[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[3]"		SITE "N17";
IOBUF		PORT "vga_g[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// G is on the BOT of P2.1 (GND G3 G2 ...)
LOCATE		COMP "vga_b[0]"		SITE "M17";
IOBUF		PORT "vga_b[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[1]"		SITE "R17";
IOBUF		PORT "vga_b[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[2]"		SITE "T18";
IOBUF		PORT "vga_b[2]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[3]"		SITE "K18";
IOBUF		PORT "vga_b[3]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

// pulses on the TOP of P2.1 (GND NC NC VS HS)
LOCATE		COMP "vga_h_pulse"		SITE "P17";
IOBUF		PORT "vga_h_pulse"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_v_pulse"		SITE "R18";
IOBUF		PORT "vga_v_pulse"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
