LOCATE      COMP "clk"    SITE "P3";
IOBUF       PORT "clk"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk"    25 MHZ;

// this demo uses P2 on the Colorlight-i9 board.  This is located to the right of the DVI next to the ethernet PMODs (P1).

// P2.0 (next to the DVI)
// TOP: 3V3 GND N17 M18 L18 J20
// BOT: 3V3 GND N18 L20 K20 G20
LOCATE		COMP "vga_g[1]"		SITE "N17";
IOBUF		PORT "vga_g[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_g[0]"		SITE "M18";
IOBUF		PORT "vga_g[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[1]"		SITE "L18";
IOBUF		PORT "vga_r[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_r[0]"		SITE "J20";
IOBUF		PORT "vga_r[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_v_pulse"	SITE "N18";
IOBUF		PORT "vga_v_pulse"	IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_h_pulse"	SITE "L20";
IOBUF		PORT "vga_h_pulse"	IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[1]"		SITE "K20";
IOBUF		PORT "vga_b[1]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE		COMP "vga_b[0]"		SITE "G20";
IOBUF		PORT "vga_b[0]"		IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
